amqp
asgiref
async-timeout
autopep8
billiard
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
coreapi
coreschema
Django
django-admin-soft-dashboard
django-celery-beat
django-filter
django-timezone-field
djangorestframework
drf-yasg
idna
inflection
itypes
Jinja2
kombu
Markdown
MarkupSafe
packaging
prompt-toolkit
pycodestyle
python-crontab
python-dateutil
pytz
redis
requests
rest-framework-generic-relations
ruamel.yaml
six
sqlparse
tzdata
uritemplate
urllib3
vine
wcwidth
